#revisr-activity {
}

#revisr-sidebar {
	width: 30%;
	float: left;
	padding-left: 15px;
	height: 100%;
}

.revisr-alert {
	width:99%;
	padding:10px;
	color: #fff;
	font-size: 16px;
	background-color: #2c3e50;
	border-radius: 5px;
}

#hash {
	width: 70px !important;
}
td.hash.column-hash {
	width:70px !important;
}

.quick-action-btn {
	width: 100%;
	text-align: left !important;
	margin-bottom: 4px !important;
}

#commit-btn {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}

#commit-btn:before {
	content: "\f132";
	margin-top:5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
}

#commit-btn:hover {
	background-color: #4cae4c;
	border-color: #4cae4c;
	color: #fff;
}

#discard-btn {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}

#discard-btn:before {
	content: "\f158";
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
}

#discard-btn:hover {
	background-color: #d43f3a;
	border-color: #d43f3a;
	color: #fff;
}

#push-btn:before {
	content: "\f142";
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
}

#pull-btn:before {
	content: "\f140";
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
}

#loader {
	float: right;
}

#new_branch {
	font-size: 12px;
}

.diff_added {
	background-color: #cfc;
}
.diff_removed {
	background-color: #fdd;
}

#gitignore {
	width: 350px;
}

#revisr-pagination {
	text-align: center;
}