
/* === STAGING/COMMITTED === */
#revisr_save_commit .inside, #revisr_view_commit .inside {
	padding: 0;
}
.revisr-timestamp:before {
	margin-right: 3px;
}
#misc-publishing-actions label[for=revisr-branch]:before {
	content: '\f020';
	color: #888;
	display: inline-block;
	font: 400 20px/1 octicons;
	speak: none;
	left: -1px;
	padding: 0 7px 0 5px;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#misc-publishing-actions label[for=revisr-tag]:before {
	content: '\f015';
	color: #888;
	display: inline-block;
	font: 400 20px/1 octicons;
	speak: none;
	left: -1px;
	padding: 0 5px 0 3px;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.stage-container {
	width: 100%;
	display: inline-block;
}
#staged {
	width: 80%;
	float: left;
	overflow-y: scroll;
}
#unstaged {
	width: 80%;
	float: left;
	overflow-y: scroll;
}
.stage-nav {
	float: left;
	margin: 5px;
}
.stage-nav-button {
	margin-top: 7px !important;
}
#committed {
	width: 90%;
}
.diff_added {
	background-color: #cfc;
}
.diff_removed {
	background-color: #fdd;
}
#revisr-pagination {
	text-align: center;
}

/* === COMMIT LISTING === */
#hash {
	width: 70px !important;
}
td.hash.column-hash {
	width:70px !important;
}
.column-title {
	width: 400px !important;
}
#branch {
	text-align: center;
}
#tag {
	text-align: center;
}
#files_changed {
	text-align: center;
}
.column-branch {
	text-align: center;
}
.column-tag {
	text-align: center;
}
.column-files_changed {
	text-align: center;
}
#revisr_settings th {
	width: 290px;
}

/* === Site5 === */
#site5_wrapper {
	width: 80px;
	text-align: center;
	font-size: 11px;
	float: right;
	margin: 0px 10px 10px 10px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
}
#site5_logo {
	width: 80px;
	margin-top: -5px;
}
.wrap {
	margin-top: 27px !important;
}
