/* === QUICK ACTIONS === */

.quick-action-btn {
	width: 100%;
	text-align: left !important;
	margin-bottom: 4px !important;
}
#commit-btn {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}
#commit-btn:before {
	content: "\f132";
	margin-top:5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	float: left;
}
#commit-btn:hover {
	background-color: #4cae4c;
	border-color: #4cae4c;
	color: #fff;
}
#discard-btn {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}
#discard-btn:before {
	content: "\f158";
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	float: left;
}
#discard-btn:hover {
	background-color: #d43f3a;
	border-color: #d43f3a;
	color: #fff;
}
#backup-btn:before {
	content: "\f321";
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	float: left;
}
#push-btn:before {
	content: "\f142";
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	float: left;
}
#pull-btn:before {
	content: "\f140";
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	float: left;
}
.qb-text {
	float: left;
}
#loader {
	float: right;
}
#new_branch {
	font-size: 12px;
}

/* === STAGING/COMMITTED === */

.stage-container {
	width: 100%;
	display: inline-block;
}
#staged {
	width: 80%;
	float: left;
	overflow-y: scroll;
}
#unstaged {
	width: 80%;
	float: left;
	overflow-y: scroll;
}
.stage-nav {
	float: left;
	margin: 5px;
}
.stage-nav-button {
	margin-top: 7px !important;
}
.diff_added {
	background-color: #cfc;
}
.diff_removed {
	background-color: #fdd;
}
#revisr-pagination {
	text-align: center;
}

/* === MISC === */

#hash {
	width: 70px !important;
}
td.hash.column-hash {
	width:70px !important;
}
#revisr_settings th {
	width: 290px;
}
#gitignore {
	width: 350px;
}